{% block head %}

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

<link rel="stylesheet" href="static/style.css" type="text/css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<script type="text/javascript"> 

        function displayForm(c){ 

            if(c.value == "1"){ 
                        document.getElementById("date1").style.display='block'; 
			document.getElementById("o_submit").style.display='none';
        }
	else if(c.value == "2"){
			document.getElementById("date1").style.display='none'; 
			document.getElementById("o_submit").style.display='block';
        }		

 else{

            } 
 
 }

function validateForm(){

  var z = document.forms["myForm"]["wallet_id"].value;

  if(!/^[0-9]+$/.test(z)){
    alert("Please only enter numeric characters only for wallet id! (Allowed input:0-9)")
  }

}

</script>

{% endblock %}

{% block body %}

<div class="login-screen">

<div class="radio_btns" id="first">

<label>Any other info????</label>

<input value = "1" type = "radio" name="formselector" onclick="displayForm(this)"><label>Yes</label>
<input value = "2" type = "radio" name="formselector" onclick="displayForm(this)"><label>No</label><br/>

</div>

	<form id = "form1" action = "/parameters" method = "POST">

	<div class="form-wrapper" id="wrapper">
      		<div class="date1" id="date1" style="display:none">

    			<div class="wallet_ip">

    			{% if date %}		
        		<input type="hidden" name="date" form = "form1" class="date" value="{{date}}"/><br/>
    			{% endif %}
    			{% if date1 %}
        		<input type="hidden" name="date1" class="date1" form = "form1" value="{{date1}}"/><br/>
    			{% endif %}   			

<input type = "checkbox" name = "WalletID_op" value = "WalletID" form = "form1"> <label> WalletID &emsp;&emsp;&emsp;</label> 
<input name = "WalletID" type = "text" id = "WalletID1" size = "1" form = "form1"> <br/><br/>	
		
<input type = "checkbox" name = "MDN_op" value = "MDN" form = "form1"> <label> MDN &emsp;&emsp;&emsp; </label>
<input name = "MDN" type = "text" id = "MDN1" size = "1" form = "form1"> <br/><br/>

<input type = "checkbox" name = "TransactionNumber_op" value = "TransactionNumber" form = "form1"> <label> TransactionNumber &emsp;&emsp;&emsp; </label>
<input name = "TransactionNumber" type = "text" id = "TransactionNumber1" size = "1" form = "form1"> <br/><br/>

<input type = "submit" name = "submit" value = "submit" class = "wallet-btn btn-primary btn-large btn-block" form = "form1">

</form> 
</div>
</div>


<div id="o_submit" style="display:none">

<form id = "form2" action = "/no_options" method = "POST">

                {% if date %}
                <input type="hidden" name="date" form = "form2" class="date" value="{{date}}"/><br/>
                {% endif %}</br>
                {% if date1 %}
                <input type="hidden" name="date1" class="date1" form = "form2" value="{{date1}}"/><br/>
                {% endif %}</br>                

<input type="submit" value="submit" name = "submit"  class="wallet-btn btn-primary btn-large btn-block" form = "form2">

<br/><br/>

</form>

</div>
</div>
</div>

{% endblock %}
