{% block head %}

<style>

body {
background-color: #3498DB;
}
</style>

   <script type="text/javascript"> 

        function displayForm(c){ 

            if(c.value == "1"){ 
                        document.getElementById("date").style.visibility='visible'; 
	}
            else if(c.value =="2"){ 
		        document.getElementById("date").style.visibility='visible';
	} 

                        else if(c.value =="3"){ 

                                document.getElementById("date").style.visibility='visible';
            }

		else if(c.value =="4"){ 
                        document.getElementById("date").style.visibility='visible';
        } 

                        else if(c.value =="5"){ 

                                document.getElementById("date").style.visibility='visible';
            }

            else{

            } 

         }

 </script>

{% endblock %}

{% block body %}

<br /> <br /> <br /> <br /> <center> <h1> Transaction Details </h1> </center>

<form action = "/login1" method = "POST">

   <input value="1" type="radio" name="formselector" onclick="displayForm(this)">RO-Transaction Report &nbsp;</label><br /><br />

   <input value="2" type="radio" name="formselector" onclick="displayForm(this)">Sales Summary &nbsp;</label></br /><br />

   <input value="3" type="radio" name="formselector" onclick="displayForm(this)">Reconcillation Summary &nbsp;</label><br /><br />

   <input value="4" type="radio" name="formselector" onclick="displayForm(this)">Transaction-4 &nbsp;</label><br /><br />

   <input value="5" type="radio" name="formselector" onclick="displayForm(this)">Transaction-5 &nbsp;</label><br /><br />

      <span id="date" style="visibility:hidden">
  
   <center> <h4> Select Start_Date: <input type = "date" name = "start_date" placeholder = "start date"> </h2>

   <h4> Select End_Date: <input type = "date" name = "end_date" placeholder = "end date"> </h2></center></span>

   <center> <h2> <input type = "submit" value = "submit" name = "submit"> </h2></center>

</form>

{% endblock %}
